/* CSS declarations go here */
.css-gradient(@from: #20416A, @to: #3D69A5) {
    background-color: @to;
    background-image: -webkit-gradient(linear, left top, left bottom, from(@from),  to(@to));
    background-image: -webkit-linear-gradient(top, @from, @to);
    background-image: -moz-linear-gradient(top, @from, @to);
    background-image: -o-linear-gradient(top, @from, @to);
    background-image: -ms-linear-gradient(top, @from, @to);
    background-image: linear-gradient(top, @from, @to);
}

body {
  font-family: sans-serif;
}

h1,h2,h3 {
  font-weight: normal;
}

body 
{
  padding-top: 20px;
  padding-bottom: 40px;
}

.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}

#login-buttons {
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 5px;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;

  .login-button {
    .css-gradient(#ffffff, #e6e6e6);
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
    color: #333;
    text-shadow: none;
    box-shadow: none;
  }

  .login-button:active, .login-button:hover {
    background-image: none;
    background-color: #e6e6e6;
  }
}


.add-problem {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 10px;
 
  .control-label {
    width: 50px;
  }

  #problem-name {
    width: 560px;
  }

  #solution {
    width: 480px;
  }

  #add-idea {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .controls {
    margin-left: 80px;
  }
}

.problems-list {
  margin-left: 20px;
  
  .vote-stats {
    float: left;
    width: 56px;
    
    .votes {
      font-size: 20px;
      width: 50px;
      height: 1.5em;
      display: inline-block;
      text-align: center;
      margin-bottom: -5px;
    } 
  }

  dd, dt {
    margin-left: 80px;
  }

  dt {
    font-size: 110%;
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
  }

  dd {

    i {
      float: left;
    }

    .content {
      margin-left: 20px;
      font-family: tahoma;
      font-size: 14px;
    }
  }

  .votes-buttons {
    float: left;
    
    .btn-small {
      padding-left: 6px;
      padding-right: 6px;
    }
  }

  .problem-item {
    margin-top: 25px;

    .adder-wrap {
      margin-top: 10px;
      
      .adder {
        height: 30px;
        width: 30px;
        padding-left: 6px;
      }
    }

    .author {
      font-family: Helvetica Neue;
      font-size: 70%;
    }

    .add-new-comment {
      margin-top: 10px;
      input {
      width: 590px;
      font-family: tahoma;
      }
    }
  }
}